@font-face {
  font-family: DingTalkJinBuTi;
  src: url("docs/style/font/DingTalkJinBuTi.ttf") format("TrueType");
}

:root {
  --vp-font-family-base: DingTalkJinBuTi;
  --vp-font-family-mono: DingTalkJinBuTi;
}

/* 加粗 */
strong {
  color: #37cac5;
}

/* 斜体 */
em {
  color: #39a7e0;
}
